
.two ul {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}
.two li {
  float: left;
}
.two a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}
.two a:hover {background: #ADC0CE}
.three ul {
  padding: 0;
  background: #E4EFD1;
}

.d1 h3 {
  color: #F16246;
  text-align: center;
}
.d1 h3:before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  height: 2px;
  background: #E5EDEA;
  z-index: -1;
}
.d1 span {
  background: white;
  padding: 0 20px;
}
